@import '../../config/variables.scss';

.#{$global-prefix}-input {
  &-outer {
    display: inline-block;
  }

  &-wrapper {
    display: inline-block;
    font-size: $font-size-normal;
    border-bottom: 1px solid $border-color;
    height: 30px;
    line-height: 30px;
    padding-top: 16px;
    position: relative;
    transition: all 0.3s;

    input::-webkit-input-placeholder,
    input:-moz-placeholder,
    input::-moz-placeholder,
    input:-ms-input-placeholder {
      color: $text-color-3;
    }

    &-disabled {
      cursor: not-allowed;
    }

    &-normal:not(&-disabled) {
      border-color: $border-color;
    }

    &:not(&-disabled):hover {
      box-shadow: 0 8px 5px -5px rgba(black, $alpha: 0.05);
    }
  }

  &-wrapper-normal:not(&-wrapper-disabled):hover > &-label {
    color: $main-color;
  }

  &-wrapper-disabled > &-x,
  &-wrapper-disabled > &-label {
    color: $text-color-3;
    cursor: not-allowed;
  }

  &-wrapper-normal > &-line {
    background: $main-color;
  }

  &-label {
    color: $text-color-2;
    margin-right: 8px;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    pointer-events: none;
  }

  &-x {
    color: $text-color-1;
    font-size: inherit;
    border: 0;
    padding: 0;
    outline: 0;
    height: 22px;
    line-height: 22px;
    background: transparent;
  }

  &-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s;
  }

  &-wrapper:not(&-wrapper-disabled) > &-x:focus + &-label,
  &-wrapper-filled > &-label {
    font-size: $font-size-sm;
    transform: translateY(-22px);
  }

  &-wrapper-normal:not(&-wrapper-disabled) > &-x:focus + &-label {
    color: $main-color;
  }

  &-wrapper-normal:not(&-wrapper-disabled) > &-x:active + &-label {
    color: darken($main-color, 15%);
  }

  &-wrapper-normal:not(&-wrapper-disabled) > &-x:focus ~ &-line {
    transform: scale(1);
  }

  &-wrapper-normal:not(&-wrapper-disabled) > &-x:active ~ &-line {
    transform: scale(1);
    background: darken($main-color, 15%);
  }

  &-wrapper-warn:not(&-wrapper-disabled) > &-label,
  &-wrapper-warn:not(&-wrapper-disabled):hover > &-label,
  &-wrapper-warn:not(&-wrapper-disabled) > &-x:focus + &-label {
    color: $text-color-warn;
  }
  &-wrapper-warn:not(&-wrapper-disabled) > &-x:focus ~ &-line {
    background: $warn-color;
    transform: scale(1);
  }
  &-wrapper-warn:not(&-wrapper-disabled) > &-x:active ~ &-line {
    background: darken($warn-color, 5%);
    transform: scale(1);
  }
  &-wrapper-warn:not(&-wrapper-disabled) > &-x:active + &-label {
    color: darken($warn-color, 5%);
  }

  &-wrapper-danger:not(&-wrapper-disabled) > &-label,
  &-wrapper-danger:not(&-wrapper-disabled):hover > &-label,
  &-wrapper-danger:not(&-wrapper-disabled) > &-x:focus + &-label {
    color: $text-color-danger;
  }
  &-wrapper-danger:not(&-wrapper-disabled) > &-x:focus ~ &-line {
    background: $danger-color;
    transform: scale(1);
  }
  &-wrapper-danger:not(&-wrapper-disabled) > &-x:active ~ &-line {
    background: darken($danger-color, 15%);
    transform: scale(1);
  }
  &-wrapper-danger:not(&-wrapper-disabled) > &-x:active + &-label {
    color: darken($danger-color, 15%);
  }
}
