// prefix
$global-prefix: 'kabi';

// theme
$font-normal: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// --- color ---
$white: #fff;
$black: #000;
$main-color: #6e92ff;
$warn-color: #f7961f;
$danger-color: #ff4747;
$hover-color: lighten($main-color, 5%);
$active-color: darken($main-color, 10%);

$text-color-1: #333;
$text-color-2: #666;
$text-color-3: #999;
$text-color-warn: $warn-color;
$text-color-danger: $danger-color;
$text-disabled-color: rgba($black, 0.25);

$border-color: #eee;
$shadow-color: rgba($black, 0.2);

// --- size ---
$font-size-normal: 14px;
$font-size-xl: 24px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 12px;

// --- shadow ---
$shadow-normal: 0 0 12px $shadow-color;

// --- bezier ---
$bezier-fastout-slowin: cubic-bezier(0.4, 0, 0.2, 1);

// --- mixin ---
@mixin onelineEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
