@import '../../config/variables.scss';

.#{$global-prefix}-tab {
  &-outer {
    background: $white;
    width: 100%;
    line-height: 1;
    position: relative;
    border-bottom: 1px solid $border-color;
  }

  &-x {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    color: $text-color-1;
    transition: color 0.3s $bezier-fastout-slowin;
    box-sizing: border-box;
    @include onelineEllipsis;
    &:not(&-disabled):hover,
    &:not(&-disabled):focus {
      color: $hover-color;
    }
    &:not(&-disabled):active {
      color: $active-color;
    }
  }

  &-x-active {
    color: $main-color;
  }

  &-x-equispaced {
    text-align: center;
  }

  &-x-disabled {
    color: $text-disabled-color;
    cursor: not-allowed;
  }

  &-line {
    background: $main-color;
    position: absolute;
    bottom: 0;
    transition: all 0.3s $bezier-fastout-slowin;
  }

  &-contents {
    overflow: hidden;
  }

  &-parts-container {
    text-align: left;
    width: 999999px;
    width: max-content;
    transition: transform 0.3s $bezier-fastout-slowin;
    will-change: transform;
  }
  &-part {
    display: inline-block;
    transition: opacity 0.4s;
    &-active {
      visibility: visible;
      opacity: 1;
    }
    &-inactive {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      height: 0;
    }
  }
}
