@import '../../config/variables.scss';

$normal-thumb-size: 16px;
$height: 2px;

.#{$global-prefix}-slider {
  &-outer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $normal-thumb-size;
    cursor: pointer;
    touch-action: none;
    user-select: none;
  }
  &-disabled {
    cursor: not-allowed;
  }
  &-disabled > &-wrapper {
    color: $text-color-disabled;
  }
  &-wrapper {
    color: $main-color;
    display: inline-block;
    width: calc(100% - #{$normal-thumb-size});
    height: $height;
    position: relative;
  }
  &-rail {
    background-color: currentColor;
    opacity: 0.35;
    width: 100%;
    height: $height;
    position: absolute;
    border-radius: $height / 2;
    top: 0;
    left: 0;
  }
  &-track {
    background-color: currentColor;
    width: 100%;
    height: $height;
    position: absolute;
    border-radius: $height / 2;
    left: 0;
    top: 0;
    transition: width 0.2s;
  }
  &-thumb {
    background-color: currentColor;
    width: $normal-thumb-size;
    height: $normal-thumb-size;
    border-radius: $normal-thumb-size / 2;
    position: absolute;
    margin-top: -($normal-thumb-size - $height) / 2;
    margin-left: -$normal-thumb-size / 2;
    transition: left 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px $shadow-color;
  }
  &-outer:hover &-thumb {
    transform: scale(1.05);
    box-shadow: 0 2px 6px $shadow-color;
  }
  &-outer:active &-thumb {
    transform: scale(0.95);
    box-shadow: 0 1px 5px $shadow-color;
  }
}
